.el-form-item
	margin-bottom 0
.form-row-item
	margin-top 10px
.el-form-item__error
	position static
	text-align left
.el-table__header-wrapper thead div, .el-table__footer-wrapper thead div
	font-size 14px
	font-weight 400