.full-width
  width 100%

.divider
  position: relative;
  height: 1px;
  display table
  width 100%
  background #bfcbd9
  opacity .4
  margin 20px 0
  &:before
    width 12px
    height 12px
    background #bfcbd9
    border 8px solid #fff
    content ""
    position absolute
    left 50%
    top -14px
    margin-left -16px
    border-radius 50%