:root
  /* Transitions */
  --all-transition all 0.2s ease-in-out
  --fade-transition fade 0.2s ease-in-out
  /* Fonts */
  --font-base -apple-system, BlinkMacSystemFont, Avenir, Avenir Next, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  /* Colors */
  --color-primary #674CD8
  --color-secondary #764ba2
  --color-dark #303133
  --color-light #e6ecf0
  --color-divider #bfcbd9
  --color-info #909399
  --color-warning #FB9F16
  --color-error #E04444
  --color-success #62DC26
  --color-text #444
  --color-text-light #ccc
  --color-border #ebeef5
  /* Utils */
  --base-radius 4px
  --base-rounded-radius 50%
  --base-shadow 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
  