@import './custom-properties.styl'

.full-width
  width 100%
.full-height
  min-heigth 100%
.divider
  position relative
  height 1px
  display table
  width 100%
  background var(--color-divider)
  opacity .4
  margin 20px 0
  &:before
    width 12px
    height 12px
    background var(--color-divider)
    border 8px solid #fff
    content ""
    position absolute
    left 50%
    top -14px
    margin-left -16px
    border-radius 50%
.p0
  padding 0
.p1
  padding 10px
.p2
  padding 20px
.m0
  margin 0
.m1
  margin 10px
.m2
  margin 20px
.flex
  display flex
.flex-center
  align-items center
  justify-content center
.flex-column
  flex-direction column