::-moz-selection
  background $colorPrimary
  color #ffffff
  text-shadow none

::selection
  background $colorPrimary
  color #ffffff
  text-shadow none
  
html, body
	height 100%

body
  font-family -apple-system, BlinkMacSystemFont, Avenir, Avenir Next, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background #e6ecf0
  color $colorDark
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-rendering optimizeLegibility
    
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
  display block

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr,
body
  margin 0
  padding 0

dl
  margin 15px 0
  dt
    font-weight bold
 
  dd
    margin-bottom 5px
    margin-left 0

a
  display block
  color #000
  &:hover
    text-decoration none
 
  &:focus
    outline thin dotted
 
  &:active,
  &:hover
    outline 0

b,
strong
  font-weight bold

mark
  background #ff0
  color rgba(0, 0, 0, 1.0)

code,
kbd,
pre,
samp
  font-family monospace, serif
  font-size 1em
q
  quotes "\201C" "\201D" "\2018" "\2019"

small
  font-size 80%

sub,
sup
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline

sup
  top -0.5em

sub
    bottom -0.25em

audio:not([controls])
  display none
  height 0
hr
  height 0
  margin 15px 0
  border 0
  border-top 1px solid #e5e5e5

address
  font-style normal
  color #777
  
pre
  padding 10px
  margin 0 0 20px 0
  background #000
  font 12px / 18px Consolas, monospace, serif
  color #444444
  -moz-tab-size 1
  tab-size 1
  overflow auto
  white-space pre-wrap

progress
  vertical-align baseline

iframe
  border 0

table,
th,
td
  border none

table
  width 100%
  text-align left

hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6
    margin-bottom 0

h1
  font-size 20px

h2
  font-size 20px

h3
  font-size 20px

h4
  font-size 20px

h5
  font-size 20px

h6
  font-size 20px
  
h1,
h2,
h3,
h4,
h5,
h6
  color #000
    a
      text-decoration none
   
img
  display block
  max-width 100%
  color transparent
  font-size 0
  vertical-align middle
  border 0
  -ms-interpolation-mode bicubic

svg:not(:root)
  overflow hidden

legend
  border 0
  padding 0

img[width],
img[height]
  max-width none
  
.icon
  width 16px
  height 16px
  fill $colorDark

#app, 
#app > main, 
.admin-layout, 
.admin-content
  height 100%

.el-table
  .cell
    display flex
    justify-content flex-start
    align-items center
  .icon
    margin-right 5px
    fill $colorDark