// Custom Properties
@import 'base/custom-properties'

// Reset
@import 'base/reset'

// Helpers
@import 'base/helpers'

// Theme (modify)
@import 'base/theme'

// Theme (modify)
@import 'pages/documents'

.wrapper
  max-width 920px
  margin 0 auto
  display flex
  flex 0 1 auto
  flex-direction row
  flex-wrap wrap