.page-auth
	height 100%
	display flex
	align-items center
	justify-content center
	&_inner
		padding-bottom 30px
	&_logo
		display table
		margin 0 auto 20px auto
	&_submit
		padding 15px 0
	&_footer
		display table
		width 100%
		margin-top 20px
		a
			display table
			font-size 22px
			margin 0 auto
			line-height 32px
			color var(--color-primary)
		
	// Extend UI
	.el-form-item
		&:last-child
			margin-bottom 0
  