.auth-layout
	display flex
	align-items center
	justify-content center
	height 100%
	&_card
		min-width 320px
	&_card-header
		.logo
			margin 0 auto 10px auto
			display table
	&_inner
		padding 30px 0
		text-align center
	&_submit
		padding 15px 0
		margin-top 20px
	&_footer
		display table
		width 100%
		margin-top 20px
		a
			display table
			font-size 22px
			margin 0 auto
			line-height 32px
			color var(--color-primary)
		
	// Extend UI
	.el-form-item
		&:last-child
			margin-bottom 0
  